Server crash when accessing server with browser with invalid cookie names containing colons

**Describe the bug**
I discovered this while working toward adding TerminusDB to Nixpkgs, but it should be reproducible on other distros. TerminusDB server crashes with SIGUSR2 signal when processing HTTP requests containing invalid cookies with colons in their names. The server terminates unexpectedly when browsers send RFC 6265-non-compliant cookies like `react-resizable-panels:layout` and `react-resizable-panels:collapsed` which I think are set by React applications using the [react-resizable-panels library](https://github.com/bvaughn/react-resizable-panels).

**To Reproduce**
Steps to reproduce the behavior:
1. Open browser developer console
2. Execute: e.g. `document.cookie = "react-resizable-panels:layout=[15,85]; path=/"`
3. Visit `http://localhost:6363` in the same browser
4. Server immediately crashes with SIGUSR2 signal

**Expected behavior**
The server should safely ignore/skip malformed cookies without crashing and continue serving requests normally. While RFC 6265 does not allow colons in cookie names (colons are listed as separator characters in the token specification), the server should handle invalid cookies gracefully rather than terminating.

**Screenshots**
I recorded the crash with `script`:
```
[daniel@laptop:~/Source/nixpkgs]$ head -40 typescript 
Script started on 2025-06-04 12:38:51+01:00 [TERM="xterm-kitty" TTY="/dev/pts/1" COLUMNS="179" LINES="39"]

[daniel@laptop:~/Source/nixpkgs]$ ./result/bin/terminusdb serve
% TerminusDB server started at Wednesday, Jun 04, 12:39:02 BST (utime 1749037142.8953269) args [serve,help(false),interactive(false),memory(_394)]
% Welcome to TerminusDB's terminusdb-server, version 11.1.14!
% You can view your server in a browser at 'http://localhost:6363'

Warning: [Thread httpd@6363_7] Skipped illegal cookie: react-resizable-panels:layout=[15,80]
Event hook "thread_finished" left an exception
error(permission_error(detach,thread,'httpd@6363_1'),context(system:thread_detach/1,'Thread is being joined'))
Error: '$aborted'

% Execution Aborted
Error: Port 6363 is already in use.error(socket_error(eaddrinuse,'Address already in use'),_7916)
terminusdb serve OPTIONS

Run the TerminusDB server.

--help         -h  boolean=false    Print help for `serve` command
--interactive  -i  boolean=false    Run server in interactive mode
--memory       -m  password:atom=_  Run server in-memory, without a persistent
                                      store. Takes a password as an optional
                                      argument. The in-memory store will be
                                      initialized with an admin account with the
                                      given password. If absent, the admin
                                      account will have 'root' as a password.
terminusdb [command]
where command is one of: [apply,branch,bundle,capability,clone,concat,db,diff,doc,fetch,help,history,list,log,migration,optimize,organization,pull,push,query,rebase,remote,reset,role,rollup,serve,squash,store,test,triples,unbundle,user]
type: terminusdb [command] --help for more details
Error: Port 6363 is already in use.error(socket_error(eaddrinuse,'Address already in use'),_7916)
terminusdb serve OPTIONS

Run the TerminusDB server.

--help         -h  boolean=false    Print help for `serve` command
--interactive  -i  boolean=false    Run server in interactive mode
--memory       -m  password:atom=_  Run server in-memory, without a persistent
```

GDB backtrace showing crash in HTTP thread:
```
[daniel@laptop:~/Source/nixpkgs]$ nix-shell -p gdb.out --run 'gdb --args ./result/bin/terminusdb serve'
GNU gdb (GDB) 16.2
Copyright (C) 2024 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show copying" and "show warranty" for details.
This GDB was configured as "x86_64-unknown-linux-gnu".
Type "show configuration" for configuration details.
For bug reporting instructions, please see:
<https://www.gnu.org/software/gdb/bugs/>.
Find the GDB manual and other documentation resources online at:
    <http://www.gnu.org/software/gdb/documentation/>.

For help, type "help".
Type "apropos word" to search for commands related to "word"...
Reading symbols from ./result/bin/terminusdb...
(No debugging symbols found in ./result/bin/terminusdb)
(gdb) run
Starting program: /nix/store/mad274hmhdnsndv6dn8nvj5vc957870w-terminusdb-11.1.14/bin/terminusdb serve
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libthread_db.so.1".
[New Thread 0x7ffff51ff6c0 (LWP 85107)]
[New Thread 0x7ffff48f16c0 (LWP 85108)]
[New Thread 0x7ffff46f06c0 (LWP 85109)]
[New Thread 0x7ffff44ef6c0 (LWP 85110)]
[New Thread 0x7ffff42ee6c0 (LWP 85111)]
[New Thread 0x7ffff40ed6c0 (LWP 85112)]
[New Thread 0x7ffff3eec6c0 (LWP 85113)]
[New Thread 0x7ffff3ceb6c0 (LWP 85114)]
[New Thread 0x7ffff3aea6c0 (LWP 85115)]
[New Thread 0x7ffff38e96c0 (LWP 85116)]
[New Thread 0x7ffff36e86c0 (LWP 85117)]
[New Thread 0x7ffff2ee76c0 (LWP 85118)]
[New Thread 0x7ffff26e66c0 (LWP 85119)]
[New Thread 0x7ffff1ee56c0 (LWP 85120)]
[New Thread 0x7ffff16e46c0 (LWP 85121)]
[New Thread 0x7ffff0ee36c0 (LWP 85122)]
[New Thread 0x7ffff06e26c0 (LWP 85123)]
[New Thread 0x7fffefee16c0 (LWP 85124)]
[New Thread 0x7fffef6e06c0 (LWP 85125)]
% TerminusDB server started at Wednesday, Jun 04, 12:41:48 BST (utime 1749037308.5118446) args [serve,help(false),interactive(false),memory(_394)]
% Welcome to TerminusDB's terminusdb-server, version 11.1.14!
% You can view your server in a browser at 'http://localhost:6363'

Warning: [Thread httpd@6363_1] Skipped illegal cookie: react-resizable-panels:collapsed=false
[Thread 0x7ffff51ff6c0 (LWP 85107) exited]
[Thread 0x7ffff2ee76c0 (LWP 85118) exited]
[Thread 0x7ffff26e66c0 (LWP 85119) exited]
[Thread 0x7ffff1ee56c0 (LWP 85120) exited]
[Thread 0x7ffff16e46c0 (LWP 85121) exited]
[Thread 0x7ffff0ee36c0 (LWP 85122) exited]
[Thread 0x7ffff06e26c0 (LWP 85123) exited]
[Thread 0x7fffefee16c0 (LWP 85124) exited]

Thread 1 "terminusdb" received signal SIGUSR2, User defined signal 2.
0x00007ffff7a9438e in __futex_abstimed_wait_common () from /nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libc.so.6
(gdb) bt
#0  0x00007ffff7a9438e in __futex_abstimed_wait_common () from /nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libc.so.6
#1  0x00007ffff7a99a43 in __pthread_clockjoin_ex () from /nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libc.so.6
#2  0x00007ffff7cdeb0d in pl_thread_join2_va () from /nix/store/d830max1riv1928nivhm4d7zl4snrxl3-terminusdb-swi-prolog-9.2.9/lib/libswipl.so.9
#3  0x00007ffff7c4c3ca in PL_next_solution___LD () from /nix/store/d830max1riv1928nivhm4d7zl4snrxl3-terminusdb-swi-prolog-9.2.9/lib/libswipl.so.9
#4  0x00007ffff7c9cafb in query_loop () from /nix/store/d830max1riv1928nivhm4d7zl4snrxl3-terminusdb-swi-prolog-9.2.9/lib/libswipl.so.9
#5  0x00007ffff7c9d48d in prologToplevel () from /nix/store/d830max1riv1928nivhm4d7zl4snrxl3-terminusdb-swi-prolog-9.2.9/lib/libswipl.so.9
#6  0x00007ffff7d2e43d in PL_toplevel () from /nix/store/d830max1riv1928nivhm4d7zl4snrxl3-terminusdb-swi-prolog-9.2.9/lib/libswipl.so.9
#7  0x00000000004010a5 in main ()
(gdb) continue
Continuing.
Error: '$aborted'

% The following threads wouldn't die: [main,'http@6363']
% Execution Aborted
[Thread 0x7ffff3ceb6c0 (LWP 85114) exited]

Thread 20 "http@6363" received signal SIGUSR2, User defined signal 2.
[Switching to Thread 0x7fffef6e06c0 (LWP 85125)]
0x00007ffff7b1dd6f in accept () from /nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libc.so.6
(gdb) bt
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_1: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_1'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_2: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_2'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_3: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_3'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_4: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_4'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_5: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_5'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_6: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_6'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_7: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_7'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_8: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_8'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_9: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_9'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_10: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_10'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_11: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_11'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_12: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_12'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_13: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_13'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_14: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_14'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_15: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_15'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_16: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_16'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_17: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_17'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_18: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_18'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_19: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_19'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_20: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_20'
warning: BFD: reopening /tmp/nix-shell-85068-0/swipl_85104_21: No such file or directory
warning: Can't read data for section '.eh_frame' in file '/tmp/nix-shell-85068-0/swipl_85104_21'
#0  0x00007ffff7b1dd6f in accept () from /nix/store/cg9s562sa33k78m63njfn1rw47dp9z0i-glibc-2.40-66/lib/libc.so.6
#1  0x00007ffff74d5dbd in ?? () from /tmp/nix-shell-85068-0/swipl_85104_4
#2  0x00007ffff74da160 in ?? () from /tmp/nix-shell-85068-0/swipl_85104_4
#3  0x000000000215a6b0 in ?? ()
#4  0x00000000021cb500 in ?? ()
#5  0x00000000000000b5 in ?? ()
#6  0x00000000000000b6 in ?? ()
#7  0x00007fffef6dd258 in ?? ()
#8  0x00007ffff57e71c0 in ?? ()
#9  0x00007ffff74d3aa2 in ?? () from /tmp/nix-shell-85068-0/swipl_85104_4
#10 0x00000000021cb500 in ?? ()
#11 0x00007fff00000010 in ?? ()
#12 0x0000000000000003 in ?? ()
#13 0x0000000000000000 in ?? ()
(gdb) continue
Continuing.
Cannot find user-level thread for LWP 85225: generic error
(gdb) ../../gdb/linux-nat.c:334: internal-error: report_exit_events_for: Assertion `thr != nullptr' failed.
A problem internal to GDB has been detected,
further debugging may prove unreliable.
----- Backtrace -----
0x5731f5 _Z22gdb_internal_backtracev
0xa8cab4 _ZL17internal_vproblemP16internal_problemPKciS2_P13__va_list_tag
0xa8ce9c _Z15internal_verrorPKciS0_P13__va_list_tag
0xfebb70 _Z18internal_error_locPKciS0_z
0x78008b _ZL22report_exit_events_forP8lwp_info
0x78924a _ZN16linux_nat_target4waitE6ptid_tP17target_waitstatus10enum_flagsI16target_wait_flagE
0x7997ec _ZN16thread_db_target4waitE6ptid_tP17target_waitstatus10enum_flagsI16target_wait_flagE
0xa2cddb _Z11target_wait6ptid_tP17target_waitstatus10enum_flagsI16target_wait_flagE
0x744707 _ZL16do_target_wait_1P8inferior6ptid_tP17target_waitstatus10enum_flagsI16target_wait_flagE
0x75c06a _Z20fetch_inferior_eventv
0xfec5c5 _ZL18gdb_wait_for_eventi
0xfed37e _Z16gdb_do_one_eventi
0x7c2739 _ZL21captured_command_loopv
0x7c58d4 _Z8gdb_mainP18captured_main_args
0x46a015 main
---------------------
../../gdb/linux-nat.c:334: internal-error: report_exit_events_for: Assertion `thr != nullptr' failed.
A problem internal to GDB has been detected,
further debugging may prove unreliable.
Quit this debugging session? (y or n) y

This is a bug, please report it.  For instructions, see:
<https://www.gnu.org/software/gdb/bugs/>.

../../gdb/linux-nat.c:334: internal-error: report_exit_events_for: Assertion `thr != nullptr' failed.
A problem internal to GDB has been detected,
further debugging may prove unreliable.
Create a core file of GDB? (y or n) n
```

**Info (please complete the following information):**
- OS: NixOS
- How did you run terminus-server: Manual installation (built from source v11.1.14)
- SWI Prolog version: 9.2.9

**Additional context**
- The problematic cookie actually originates from [nextjs-ollama-llm-ui](https://github.com/jakobhoeg/nextjs-ollama-llm-ui)
- The issue affects both Firefox and Chromium-based browsers
- Private browsing mode works (no stored cookies)
- cURL requests work fine (no cookies sent)
- Server starts successfully and runs normally until the problematic HTTP request
- **Important**: [RFC 6265 Section 4.1.1](https://www.rfc-editor.org/rfc/rfc6265.html#section-4.1.1) specifies that cookie names must be `token` values, and [RFC 2616, Section 2.2](https://www.rfc-editor.org/rfc/rfc2616#section-2.2) defines colons `:` as separator characters that are _not_ allowed in tokens. Therefore, the cookie name `react-resizable-panels:layout` is invalid according to the standard.
- The real bug is that TerminusDB should handle invalid cookies gracefully rather than crashing

The core issue was a warning from the internal cooking handling that was not properly caught and logged. Being a warning, it should be handled more graciously. Now such warnings are logged and handled in the next release with the PR.

@daniel-fahey thanks for your bug report. The fix is merged into main now, and if you're running docker you can now test the change easily with the latest dev docker image, `terminusdb/terminusdb-server:dev`, that now includes the fix.

@daniel-fahey , there is another user that would like to get a nix package going on nixos in #2359. Do you have the nix build template available or if there is a way to work together to get terminusdb running on nixos?

We're the new maintainers of TerminusDB since early 2025 and with the 12 release of TerminusDB since this autumn, we are super happy for getting it into that platform since there is popular demand for it.

I think that @philocalyst would be super happy if there is a way to get it running smoothly =)

If you need more help getting it to run fully, let us know!